<app-lesson>
  <div title>Adjectives</div>
  <div body>
    <app-lesson-section>
      <div title>Properties of Adjectives</div>
      <div body>
        <p>
          Now that we can connect two nouns together in various ways using particles, we want to describe our nouns with adjectives. An adjective can directly modify a noun that immediately follows it. It can also be connected in the same way we did with nouns using particles. All adjectives fall under two categories: <i>na-adjectives</i> and <i>i-adjectives</i>.
        </p>
      </div>
    </app-lesson-section>

    <app-lesson-section>
      <div title>The na-adjective</div>
      <div body>
        <p><b>Vocabulary:</b></p>
        <ol>
          <li>静か 【しず・か】 (na-adj) – quiet</li>
          <li>人 【ひと】 – person</li>
          <li>きれい (na-adj) – pretty; clean</li>
          <li>友達 【とも・だち】 – friend</li>
          <li>親切 【しん・せつ】 (na-adj) – kind</li>
          <li>魚 【さかな】 – fish</li>
          <li>好き 【す・き】 (na-adj) – likable; desirable</li>
          <li>肉 【にく】 – meat</li>
          <li>野菜 【や・さい】 – vegetables</li>
        </ol>
        <p>
          The na-adjective is very simple to learn because it acts essentially like a noun. All the conjugation rules for both nouns and na-adjectives are the same. One main difference is that a na-adjective can directly modify a noun following it by sticking 「な」 between the adjective and noun. (Hence the name, na-adjective.)
        </p>

        <p><b>Examples</b></p>
        <ol>
          <li>
            <div class="def">
              静か <div class="def-text">しずか - Quiet</div>
            </div>
            <mark>な</mark>
            <div class="def">
              人 <div class="def-text">ひと - Person</div>
            </div>
            。
          </li>
          <p>Quiet person.</p>
          <li>
            <div class="def">
              きれい <div class="def-text">きれい - Pretty; Clean</div>
            </div>
            <mark>な</mark>
            <div class="def">
              人 <div class="def-text">ひと - Person</div>
            </div>
            。
          </li>
          <p>Pretty person.</p>
        </ol>
        <p>
          You can also use adjectives with particles just like we did in the last lesson with nouns.
        </p>

        <p><b>Examples</b></p>
        <ol>
          <li>
            <div class="def">
              友達 <div class="def-text">ともだち - Friend</div>
            </div>は<div class="def">
              親切 <div class="def-text">しんせつ - Kind, Friendly</div>
            </div>
            。
          </li>
          <p>Friend is kind.</p>

          <li>
            <div class="def">
              友達 <div class="def-text">ともだち - Friend</div>
            </div>は<div class="def">
              親切 <div class="def-text">しんせつ - Kind, Friendly</div>
            </div>な<div class="def">
              人<div class="def-text">ひと - Person</div>
            </div>だ。
          </li>
        </ol>
        <p>
          As shown by the following examples, the conjugation rules for na-adjectives are the same as nouns.
        </p>

        <p><b>Examples</b></p>
        <ol>
          <li>
            ボブは<div class="def">
            魚 <div class="def-text">さかな - Fish</div>
            </div>が<div class="def">
            <mark>好き</mark> <div class="def-text">すき - Like</div>
            </div>だ。
          </li>
          <p>Bob likes fish.</p>

          <li>
            ボブは<div class="def">
            魚 <div class="def-text">さかな - Fish</div>
          </div>が<div class="def">
            <mark>好きじゃない</mark> <div class="def-text">すき - Like</div>
          </div>。
          </li>
          <p>Bob does not like fish.</p>

          <li>
            ボブは<div class="def">
            魚 <div class="def-text">さかな - Fish</div>
          </div>が<div class="def">
            <mark>好きだった</mark> <div class="def-text">すき - Like</div>
          </div>。
          </li>
          <p>Bob liked fish.</p>

          <li>
            ボブは<div class="def">
            魚 <div class="def-text">さかな - Fish</div>
          </div>が<div class="def">
            <mark>好きじゃなかった</mark> <div class="def-text">すき - Like</div>
          </div>。
          </li>
          <p>Bob did not like fish.</p>
        </ol>

        <p>
          If it bothers you that “like” is an adjective and not a verb in Japanese, you can think of 「好き」 as meaning “desirable”. Also, you can see a good example of the topic and identifier particle working in harmony. The sentence is about the topic “Bob” and “fish” identifies specifically what Bob likes.
        </p>

        <p>
          You can also use the last three conjugations to directly modify the noun. (Remember to attach 「な」 for positive non-past tense.)
        </p>

        <p><b>Examples</b></p>
        <ol>
          <li>
            <div class="def">
              魚 <div class="def-text">さかな - Fish</div>
            </div>が<div class="def">
              <mark>好きな</mark> <div class="def-text">すき - Like</div>
            </div>
            <div class="def">
              人 <div class="def-text">ひと - Person</div>
            </div>。
          </li>
          <p>Person that likes fish.</p>

          <li>
            <div class="def">
              魚 <div class="def-text">さかな - Fish</div>
            </div>が<div class="def">
            <mark>好きじゃなあい</mark> <div class="def-text">すき - Like</div>
          </div>
            <div class="def">
              人 <div class="def-text">ひと - Person</div>
            </div>。
          </li>
          <p>Person that does not like fish.</p>

          <li>
            <div class="def">
              魚 <div class="def-text">さかな - Fish</div>
            </div>が<div class="def">
            <mark>好きだった</mark> <div class="def-text">すき - Like</div>
          </div>
            <div class="def">
              人 <div class="def-text">ひと - Person</div>
            </div>。
          </li>
          <p>Person that liked fish.</p>

          <li>
            <div class="def">
              魚 <div class="def-text">さかな - Fish</div>
            </div>が<div class="def">
            <mark>好きじゃなかった</mark> <div class="def-text">すき - Like</div>
          </div>
            <div class="def">
              人 <div class="def-text">ひと - Person</div>
            </div>。
          </li>
          <p>Person that did not like fish.</p>
        </ol>

        <p>
          Here, the entire clause 「魚が好き」、「魚が好きじゃない」、etc. is modifying “person” to talk about people that like or dislike fish. You can see why this type of sentence is useful because 「人は魚が好きだ」 would mean “People like fish”, which isn’t always the case.
        </p>

        <p>
          We can even treat the whole descriptive noun clause as we would a single noun. For instance, we can make the whole clause a topic like the following example.
        </p>

        <p><b>Examples</b></p>
        <ol>
          <li>
            <div class="def">
              <mark>魚</mark> <div class="def-text">さかな - Fish</div>
            </div>が<div class="def">
              <mark>好きじゃない</mark> <div class="def-text">すき - Like</div>
            </div><div class="def">
              <mark>人</mark> <div class="def-text">ひと - Person</div>
            </div>は、<div class="def">
              肉 <div class="def-text">にく - Meat</div>
            </div>が<div class="def">
              好き <div class="def-text">すき - Like</div>
            </div>だ。
          </li>
          <p>Person who does not like fish like meat.</p>

          <li>
            <div class="def">
              <mark>魚</mark><div class="def-text">さかな - Fish</div>
            </div><mark>が</mark><div class="def">
              <mark>すき</mark><div class="def-text">すき - Like</div>
            </div><mark>な</mark><div class="def">
              <mark>人</mark><div class="def-text">ひと - Person</div>
            </div>は、<div class="def">
              野菜 <div class="def-text">やさい - Vegetables</div>
            </div>も<div class="def">
              好き <div class="def-text">すき - Like</div>
            </div>
          </li>
          <p>Person who likes fish also likes vegetables.</p>
        </ol>
      </div>
    </app-lesson-section>

    <app-lesson-section>
      <div title>The i-adjective</div>
      <div body>
        <p><b>Vocabulary</b></p>
        <ol>
          <li>嫌い 【きら・い】 (na-adj) – distasteful, hateful</li>
          <li>食べ物 【た・べ・もの】 – food</li>
          <li>おいしい (i-adj) – tasty</li>
          <li>高い 【たか・い】 (i-adj) – high; tall; expensive</li>
          <li>ビル – building</li>
          <li>値段 【ね・だん】 – price</li>
          <li>レストラン – restaurant</li>
          <li>あまり／あんまり – not very (when used with negative)</li>
          <li>好き 【す・き】 (na-adj) – likable; desirable</li>
          <li>いい (i-adj) – good</li>
        </ol>

        <p>
          All i-adjectives always end in the Hiragana character: 「い」. However, you may have noticed that some na-adjectives also end in 「い」 such as 「
          <span class="def">きれい <span class="def-text">きれい - Pretty</span></span>（な）」. So how can you tell the difference? There are actually very few na-adjectives that end with 「い」 that is usually not written in Kanji. Two of the most common include: 「
          <span class="def">きれい <span class="def-text">きれい - Pretty</span></span>」 and 「
          <span class="def">嫌い <span class="def-text">きらい - Distasteful, Hateful</span></span>」. Almost all other na-adjectives that end in 「い」 are usually written in Kanji and so you can easily tell that it’s not an i-adjective. For instance, 「
          <span class="def">きれい <span class="def-text">きれい - Pretty</span></span>」 written in Kanji looks like 「
          <span class="def">綺麗 <span class="def-text">きれい - Pretty</span></span>」 or 「
          <span class="def">奇麗 <span class="def-text">きれい - Pretty</span></span>」. Since the 「い」 part of 「麗」 is part of a Kanji character, you know that it can’t be an i-adjective. That’s because the whole point of the 「い」 in i-adjectives is to allow conjugation without changing the Kanji. In fact, 「
          <span class="def">嫌い <span class="def-text">きらい - Distasteful, Hateful</span></span>」 is one of the rare na-adjectives that ends in 「い」 without a Kanji. This has to do with the fact that 「
          <span class="def">嫌い <span class="def-text">きらい - Distasteful, Hateful</span></span>」 is actually derived from the verb 「
          <span class="def">嫌う <span class="def-text">きらう - To Hate</span></span>」.
        </p>

        <p>
          Unlike na-adjectives, you do <b>not</b> need to add 「な」 to directly modify a noun with an i-adjective.
        </p>

        <p><b>Examples</b></p>
        <ol>
          <li>
            <div class="def">
              嫌い <div class="def-text">きらい - Distasteful, Hateful</div>
            </div><mark>な</mark><div class="def">
              食べ物 <div class="def-text">たべもの - Food</div>
            </div>。
          </li>
          <p>Hated food.</p>

          <li>
            <div class="def">
              おいしい <div class="def-text">おいしい - Tasty</div>
            </div>
            <div class="def">
              食べ物 <div class="def-text">たべもの - Food</div>
            </div>。
          </li>
          <p>Tasty food.</p>
        </ol>

        <p>
          Remember how the negative state-of-being for nouns also ended in 「い」 （じゃない）? Well, just like the negative state-of-being for nouns, you can never attach the declarative 「だ」 to i-adjectives.
        </p>

        <app-note>
          <div title class="text-center">Do NOT attach 「だ」 to i-adjectives.</div>
        </app-note>

        <p>
          Now that we got that matter cleared up, below are the rules for conjugating i-adjectives. Notice that the rule for conjugating to negative past tense is the same as the rule for the past tense.
        </p>

        <app-note>
          <div title>Conjugation rules for i-adjectives</div>
          <p>
            <b>Negative:</b> First remove the trailing 「い」 from the i-adjective and then attach 「くない」
            <br>Example: <span class="def">
              高<mark><s>い</s></mark> <span class="def-text">たかい - High; Tall; Expensive</span>
            </span> → <span class="def">
              高<mark>くない</mark> <span class="def-text">たかい - High; Tall; Expensive</span>
            </span>
          </p>

          <p>
            <b>Past-tense: </b>First remove the trailing 「い」 from the i-adjective or negative i-adjective and then attach 「かった」
            <br>Examples
          </p>

          <ol>
            <li>
              <span class="def">
                高<mark><s>い</s></mark> <span class="def-text">たかい - High; Tall; Expensive</span>
              </span> → <span class="def">
                高<mark>かった</mark> <span class="def-text">たかい - High; Tall; Expensive</span>
              </span>
            </li>
            <li>
              <span class="def">
                高くな<mark><s>い</s></mark> <span class="def-text">たかい - High; Tall; Expensive</span>
              </span> → <span class="def">
                高くな<mark>かった</mark> <span class="def-text">たかい - High; Tall; Expensive</span>
              </span>
            </li>
          </ol>

          <app-table>
            <caption class="text-center">Summary of i-adjective conjugations</caption>
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Positive</th>
                <th scope="col">Negative</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Non-Past</th>
                <td>
                  <div class="def">
                    高い <div class="def-text">たかい - High; Tall; Expensive</div>
                  </div>
                </td>
                <td>
                  <div class="def">
                    高くない <div class="def-text">たかい - High; Tall; Expensive</div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">Past</th>
                <td>
                  <div class="def">
                    高かった <div class="def-text">たかい - High; Tall; Expensive</div>
                  </div>
                </td>
                <td>
                  <div class="def">
                    高くなかった <div class="def-text">たかい - High; Tall; Expensive</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </app-table>
        </app-note>

        <p><b>Examples</b></p>
        <ol>
          <li>
            <div class="def">
              <mark>高い</mark><div class="def-text">たかい - High; Tall; Expensive</div>
            </div><div class="def">
              ビル <div class="def-text">ビル</div>
            </div>。
          </li>
          <p>Tall building.</p>

          <li>
            <div class="def">
              <mark>高くない</mark><div class="def-text">たかい - High; Tall; Expensive</div>
            </div><div class="def">
              ビル <div class="def-text">ビル</div>
            </div>。
          </li>
          <p>Not tall building.</p>

          <li>
            <div class="def">
              <mark>高かった</mark><div class="def-text">たかい - High; Tall; Expensive</div>
            </div><div class="def">
              ビル <div class="def-text">ビル</div>
            </div>。
          </li>
          <p>Building that was tall.</p>

          <li>
            <div class="def">
              <mark>高くなかった</mark><div class="def-text">たかい - High; Tall; Expensive</div>
            </div><div class="def">
              ビル <div class="def-text">ビル</div>
            </div>。
          </li>
          <p>Building that was not tall.</p>
        </ol>

        <p>
          Note that you can make the same type of descriptive noun clause as we have done with na-adjectives. The only difference is that we don’t need 「な」 to directly modify the noun.
        </p>

        <p><b>Examples</b></p>
        <ul>
          <li>
            <div class="def">
              <mark>値段</mark><div class="def-text">ねだん - Price</div>
            </div>が<div class="def">
              高い <div class="def-text">たかい - High; Tall; Expensive</div>
            </div><div class="def">
              レストラン <div class="def-text">レストラン - Restaurant</div>
            </div>は<div class="def">
              あまり <div class="def-text">あまり - Not very (When used with negative)</div>
            </div><div class="def">
              好きじゃない <div class="def-text">すき - Like</div>
            </div>。
          </li>
        </ul>
        <p>
          In this example, the descriptive clause 「
          <span class="def">
            <mark>値段</mark><span class="def-text">ねだん - Price</span>
          </span>が<span class="def">
            高い <span class="def-text">たかい - High; Tall; Expensive</span>
          </span>」 is directly modifying 「
          <span class="def">
            レストラン <span class="def-text">レストラン - Restaurant</span>
          </span>」.
        </p>
      </div>
    </app-lesson-section>

    <app-lesson-section>
      <div title>An annoying exception</div>
      <div body>
        <p><b>Vocabulary</b></p>
        <ol>
          <li>値段 【ね・だん】 – price</li>
          <li>あまり／あんまり – not very (when used with negative)</li>
          <li>いい (i-adj) – good</li>
          <li>彼 【かれ】 – he; boyfriend</li>
          <li>かっこいい (i-adj) – cool; handsome</li>
        </ol>

        <p>
          There is one i-adjective meaning “good” that acts slightly differently from all other i-adjectives. This is a classic case of how learning Japanese is harder for beginners because the most common and useful words also have the most exceptions. The word for “good” was originally 「よい（
          <span class="def">良い<span class="def-text">よい - Good</span></span>）」. However, with time, it soon became 「
          <span class="def">いい<span class="def-text">いい - Good</span></span>」. When it is written in Kanji, it is usually read as 「
          <span class="def">いい<span class="def-text">いい - Good</span></span>」 so 「
          <span class="def">いい<span class="def-text">いい - Good</span></span>」 is almost always Hiragana. That’s all fine and good. Unfortunately, all the conjugations are still derived from 「
          <span class="def">いい<span class="def-text">いい - Good</span></span>」 and not 「
          <span class="def">いい<span class="def-text">いい - Good</span></span>」. This is shown in the next table.
        </p>

        <p>
          Another adjective that acts like this is 「
          <span class="def">かっこいい <span class="def-text">かっこいい - Good-looking, Cool</span></span>」 because it is an abbreviated version of two words merged together: 「
          <span class="def">格好 <span class="def-text">かっこう - Looks</span></span>」 and 「
          <span class="def">いい<span class="def-text">いい - Good</span></span>」. Since it uses the same 「
          <span class="def">いい<span class="def-text">いい - Good</span></span>」, you need to use the same conjugations.
        </p>

        <app-table>
          <caption class="text-center">Conjugation for 「
            <div class="def">いい<div class="def-text">いい - Good</div></div>」
          </caption>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Positive</th>
              <th scope="col">Negative</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Non-Past</th>
              <td>
                <div class="def">いい<div class="def-text">いい - Good</div></div>
              </td>
              <td>
                <div class="def">よくない<div class="def-text">いい - Good</div></div>
              </td>
            </tr>
            <tr>
              <th scope="row">Past</th>
              <td>
                <div class="def">よかった<div class="def-text">いい - Good</div></div>
              </td>
              <td>
                <div class="def">よくなかった<div class="def-text">いい - Good</div></div>
              </td>
            </tr>
          </tbody>
        </app-table>

        <app-table>
          <caption class="text-center">Conjugation for 「
            <div class="def">かっこいい <div class="def-text">かっこいい - Good-looking, Cool</div></div>」
          </caption>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Positive</th>
              <th scope="col">Negative</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Non-Past</th>
              <td>
                <div class="def">かっこいい <div class="def-text">かっこいい - Good-looking, Cool</div></div>
              </td>
              <td>
                <div class="def">かっこよくない <div class="def-text">かっこいい - Good-looking, Cool</div></div>
              </td>
            </tr>
            <tr>
              <th scope="row">Past</th>
              <td>
                <div class="def">かっこよかった <div class="def-text">かっこいい - Good-looking, Cool</div></div>
              </td>
              <td>
                <div class="def">かっこよくなかった <div class="def-text">かっこいい - Good-looking, Cool</div></div>
              </td>
            </tr>
          </tbody>
        </app-table>

        <p>
          Take care to make all the conjugations from 「
          <span class="def">よい<span class="def-text">いい - Good</span></span>」 not 「
          <span class="def">いい<span class="def-text">いい - Good</span></span>」.
        </p>

        <p><b>Examples</b></p>
        <ol>
          <li>
            <div class="def">
              値段 <div class="def-text">ねだん - Price</div>
            </div>が<div class="def">
              あんまり <div class="def-text">あんまり - Not very (When used with negative)</div>
            </div><div class="def">
              <mark>よくない</mark> <div class="def-text">いい - Good</div>
            </div>。
          </li>
          <p>Price isn’t very good.</p>

          <li>
            <div class="def">
              彼 <div class="def-text">かれ - He; Boyfriend</div>
            </div>は<div class="def">
              <mark>かっこよかった</mark> <div class="def-text">かっこいい - Cool; Handsome</div>
            </div>！
          </li>
          <p>He looked really cool!</p>
        </ol>
      </div>
    </app-lesson-section>
  </div>
</app-lesson>
