<app-lesson>
  <div title>Past Tense</div>
  <div body>
    <p>
      We will finish defining all the basic properties of verbs by learning how to express the past and past-negative tense of actions. I will warn you in advance that the conjugation rules in this section will be the most complex rules you will learn in all of Japanese. On the one hand, once you have this section nailed, all other rules of conjugation will seem simple. On the other hand, you might need to refer back to this section many times before you finally get all the rules. You will probably need a great deal of practice until you can become familiar with all the different conjugations.
    </p>

    <app-lesson-section>
      <div title>Past tense for ru-verbs</div>
      <div body>
        <p><b>Vocabulary</b></p>
        <ol>
          <li>出る 【で・る】 (ru-verb) – to come out</li>
          <li>捨てる 【す・てる】 (ru-verb) – to throw away</li>
          <li>ご飯 【ご・はん】 – rice; meal</li>
          <li>食べる 【た・べる】 (ru-verb) – to eat</li>
          <li>映画 【えい・が】 – movie</li>
          <li>全部 【ぜん・ぶ】 – everything</li>
          <li>見る 【み・る】 (ru-verb) – to see</li>
        </ol>

        <p>
          We will start off with the easy ru-verb category. To change a ru-verb from the dictionary form into the past tense, you simply drop the 「る」 and add 「た」.
        </p>

        <app-note>
          <div title>To change ru-verbs into the past tense</div>
          <p>Drop the 「る」 part of the ru-verb and add 「た」</p>
          <p>Examples</p>
          <ol>
            <li>
              <div class="def">
                出<mark><s>る</s></mark> → 出<mark>た</mark>
                <div class="def-text">
                  でる - To come out
                </div>
              </div>
            </li>

            <li>
              <div class="def">
                捨て<mark><s>る</s></mark> → 捨て<mark>た</mark>
                <div class="def-text">
                  すてる - To throw away
                </div>
              </div>
            </li>
          </ol>
        </app-note>

        <p><b>Examples</b></p>
        <ol>
          <li>
            <div class="def">
              ご飯 <div class="def-text">ごはん - Meal</div>
            </div>は、
            <div class="def">
              <mark>食べた</mark><div class="def-text">たべる - To eat</div>
            </div>。
          </li>
          <p>As for meal, ate.</p>

          <li>
            <div class="def">
              映画 <div class="def-text">えいが - Movie</div>
            </div>は、
            <div class="def">
              全部 <div class="def-text">ぜんぶ - All</div>
            </div>
            <div class="def">
              <mark>見た</mark><div class="def-text">みる - To see</div>
            </div>。
          </li>
          <p>As for movie, saw them all.</p>
        </ol>
      </div>
    </app-lesson-section>

    <app-lesson-section>
      <div title>Past tense for u-verbs</div>
      <div body>
        <p><b>Vocabulary</b></p>
        <ol>
          <li>話す 【はな・す】 (u-verb) – to speak</li>
          <li>書く 【か・く】 (u-verb) – to write</li>
          <li>泳ぐ 【およ・ぐ】 (u-verb) – to swim</li>
          <li>飲む 【の・む】 (u-verb) – to drink</li>
          <li>遊ぶ 【あそ・ぶ】 (u-verb) – to play</li>
          <li>死ぬ 【し・ぬ】 (u-verb) – to die</li>
          <li>切る 【き・る】 (u-verb) – to cut</li>
          <li>買う 【か・う】 (u-verb) – to buy</li>
          <li>持つ 【も・つ】 (u-verb) – to hold</li>
          <li>する (exception) – to do</li>
          <li>来る 【く・る】 (exception) – to come</li>
          <li>行く 【い・く】 (u-verb) – to go</li>
          <li>今日 【きょう】 – today</li>
          <li>走る 【はし・る】 (u-verb) – to run</li>
          <li>友達 【とも・だち】 – friend</li>
          <li>私 【わたし】 – me, myself, I</li>
          <li>勉強 【べん・きょう】 – study</li>
        </ol>

        <p>
          Changing a u-verb from dictionary form to the past tense is difficult because we must break up u-verbs into four additional categories. These four categories depend on the last character of the verb. The table below illustrates the different sub-categories. In addition, there is one exception to the rules, which is the verb 「行く」. I’ve bundled it with the regular exception verbs 「する」 and 「来る」 even though 「行く」 is a regular u-verb in all other conjugations.
        </p>

        <app-table>
          <caption class="text-center">Past tense conjugations for u-verbs</caption>
          <thead>
            <tr>
              <th scope="col">Ending</th>
              <th scope="col">Non-Past</th>
              <th scope="col">changes to...</th>
              <th scope="col">Past</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>す</td>
              <td>
                <div class="def">
                  話<mark>す</mark> <div class="def-text">はなす - To speak</div>
                </div>
              </td>
              <td>す→した</td>
              <td>
                <div class="def">
                  話<mark>した</mark> <div class="def-text">はなす - To speak</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>く</td>
              <td>
                <div class="def">
                  書<mark>く</mark> <div class="def-text">かく - To write</div>
                </div>
              </td>
              <td>く→いた</td>
              <td>
                <div class="def">
                  書<mark>いた</mark> <div class="def-text">かく - To write</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>ぐ</td>
              <td>
                <div class="def">
                  泳<mark>ぐ</mark><div class="def-text">およぐ - To swim</div>
                </div>
              </td>
              <td>ぐ→いだ</td>
              <td>
                <div class="def">
                  泳<mark>いだ</mark><div class="def-text">およぐ - To swim</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>む</td>
              <td>
                <div class="def">
                  飲<mark>む</mark><div class="def-text">のむ - To drink</div>
                </div>
              </td>
              <td>む→んだ</td>
              <td>
                <div class="def">
                  飲<mark>んだ</mark><div class="def-text">のむ - To drink</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>ぶ</td>
              <td>
                <div class="def">
                  遊<mark>ぶ</mark><div class="def-text">あそぶ - To play</div>
                </div>
              </td>
              <td>ぶ→んだ</td>
              <td>
                <div class="def">
                  遊<mark>んだ</mark><div class="def-text">あそぶ - To play</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>ぬ</td>
              <td>
                <div class="def">
                  死<mark>ぬ</mark><div class="def-text">しぬ - To die</div>
                </div>
              </td>
              <td>ぬ→んだ</td>
              <td>
                <div class="def">
                  死<mark>んだ</mark><div class="def-text">しぬ - To die</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>る</td>
              <td>
                <div class="def">
                  切<mark>る</mark><div class="def-text">きる - To cut</div>
                </div>
              </td>
              <td>る→った</td>
              <td>
                <div class="def">
                  切<mark>った</mark><div class="def-text">きる - To cut</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>う</td>
              <td>
                <div class="def">
                  買<mark>う</mark><div class="def-text">かう - To buy</div>
                </div>
              </td>
              <td>う→った</td>
              <td>
                <div class="def">
                  買<mark>った</mark><div class="def-text">かう - To buy</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>つ</td>
              <td>
                <div class="def">
                  持<mark>つ</mark><div class="def-text">もつ - To hold</div>
                </div>
              </td>
              <td>つ→った</td>
              <td>
                <div class="def">
                  持<mark>った</mark><div class="def-text">もつ - To hold</div>
                </div>
              </td>
            </tr>
          </tbody>
        </app-table>

        <app-table>
          <caption class="text-center">Exceptions</caption>
            <thead>
              <tr>
                <th scope="col">Non-Past</th>
                <th scope="col">Past</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="def">
                    する <div class="def-text">する - To do</div>
                  </div>
                </td>
                <td>
                  <div class="def">
                    し<mark>た</mark> <div class="def-text">する - To do</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="def">
                    くる <div class="def-text">くる - To come</div>
                  </div>
                </td>
                <td>
                  <div class="def">
                    き<mark>た</mark> <div class="def-text">くる - To come</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="def">
                    行く <div class="def-text">いく - To go</div>
                  </div>
                </td>
                <td>
                  <div class="def">
                    行<mark>った</mark> <div class="def-text">いく - To go</div>
                  </div>
                </td>
              </tr>
            </tbody>
        </app-table>

        <p>* exceptions particular to this conjugation</p>

        <p><b>Examples</b></p>
        <ol>
          <li>
            <div class="def">
              今日 <div class="def-text">きょう - Today</div>
            </div>は、
            <div class="def">
              <mark>走った</mark> <div class="def-text">はしる - To run</div>
            </div>。
          </li>
          <p>As for today, ran.</p>

          <li>
            <div class="def">
              友達 <div class="def-text">ともだち - Friend</div>
            </div>が
            <div class="def">
              <mark>来た</mark><div class="def-text">くる - To come</div>
            </div>。
          </li>
          <p>Friend is the one that came.</p>

          <li>
            <div class="def">
              私 <div class="def-text">わたし - Me, myself, I</div>
            </div>も
            <div class="def">
              <mark>遊んだ</mark> <div class="def-text">あそぶ - To play</div>
            </div>。
          </li>
          <p>I also played.</p>

          <li>
            <div class="def">
              勉強 <div class="def-text">べんきょう - Study</div>
            </div>は、
            <div class="def">
              <mark>した</mark><div class="def-text">する - To do</div>
            </div>。
          </li>
          <p>About study, did it.</p>
        </ol>
      </div>
    </app-lesson-section>

    <app-lesson-section>
      <div title>Past-negative tense for all verbs</div>
      <div body>
        <p><b>Vocabulary</b></p>
        <ol>
          <li>捨てる 【す・てる】 (ru-verb) – to throw away</li>
          <li>行く 【い・く】 (u-verb) – to go</li>
          <li>食べる 【たべ・る】 (ru-verb) – to eat</li>
          <li>する (exception) – to do</li>
          <li>お金 【お・かね】 – money</li>
          <li>ある (u-verb) – to exist (inanimate)</li>
          <li>私 【わたし】 – me, myself, I</li>
          <li>買う 【か・う】 (u-verb) – to buy</li>
          <li>猫　【ねこ】 – cat</li>
          <li>いる (ru-verb) – to exist (animate)</li>
        </ol>

        <p>
          The conjugation rules for the past-negative tense are the same for all verbs. You might have noticed that the negative of just about everything always end in 「ない」. The conjugation rule for the past-negative tense of verbs is pretty much the same as all the other negatives that end in 「ない」. You simply take the negative of any verb, remove the 「い」 from the 「ない」 ending, and replace it with 「かった」.
        </p>

        <app-note>
          <div title>To change verbs into the past-negative tense</div>
          <p>Change the verb to the negative and replace the 「い」 with 「かった」</p>
          <p>Examples</p>

          <ol>
            <li>
              <div class="def">
                捨て<mark>る</mark><div class="def-text">すてる - To throw away</div>
              </div> →
              <div class="def"><div class="def-text">すてる - To throw away</div>
                捨て<mark>な<s>い</s></mark>
              </div>→
              <div class="def">
                捨てな<mark>かった</mark><div class="def-text">すてる - To throw away</div>
              </div>
            </li>
            <li>
              <div class="def">
                行<mark>く</mark> <div class="def-text">いく - To go</div>
              </div> →
              <div class="def">
                行か<mark>な<s>い</s></mark> <div class="def-text">いく - To go</div>
              </div>→
              <div class="def">
                行かな<mark>かった</mark> <div class="def-text">いく - To go</div>
              </div>
            </li>
          </ol>
        </app-note>

        <p><b>Examples</b></p>
        <ol>
          <li>
            アリスは
            <div class="def">
              食べな<mark>かった</mark> <div class="def-text">たべる - To eat</div>
            </div>。
          </li>
          <p>As for Alice, did not eat.</p>

          <li>
            ジムが
            <div class="def">
              しな<mark>かった</mark><div class="def-text">する - To do</div>
            </div>。
          </li>
          <p>Jim is the one that did not do.</p>

          <li>
            ボブも
            <div class="def">
              行かな<mark>かった</mark><div class="def-text">いく - To go</div>
            </div>。
          </li>
          <p>Bob also did not go.</p>

          <li>
            お金が
            <div class="def">
              <mark>なかった</mark><div class="def-text">ある - To exist (inanimate)</div>
            </div>。
          </li>
          <p>There was no money. (lit: As for money, did not exist.)</p>

          <li>
            <div class="def">
              私 <div class="def-text">わたし - Me, myself, I</div>
            </div>は
            <div class="def">
              買わな<mark>かった</mark><div class="def-text">かう - To buy</div>
            </div>。
          </li>
          <p>As for me, did not buy.</p>

          <li>
            <div class="def">
              猫 <div class="def-text">ねこ - Cat</div>
            </div>は
            <div class="def">
              いな<mark>かった</mark><div class="def-text">いる - To exist (animate)</div>
            </div>。
          </li>
          <p>There was no cat. (lit: As for cat, did not exist.)</p>
        </ol>
      </div>
    </app-lesson-section>
  </div>
</app-lesson>
