<app-lesson>
  <div title>Katakana</div>
  <div body>
    <p>
      Katakana, as already mentioned, is mainly used to represent words imported from other languages. We’ve already learned all the sounds when we learned Hiragana. All you need to learn is a different way of writing them.
    </p>
    <!--Katakana Table-->
    <div class="table-responsive">
      <table class="table table-bordered">
        <caption class="text-center">Katakana Table</caption>
        <thead>
        <tr>
          <th scope="col">n</th>
          <th scope="col">w</th>
          <th scope="col">r</th>
          <th scope="col">y</th>
          <th scope="col">m</th>
          <th scope="col">h</th>
          <th scope="col">n</th>
          <th scope="col">t</th>
          <th scope="col">s</th>
          <th scope="col">k</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>ン</td>
          <td>ワ</td>
          <td>ラ</td>
          <td>ヤ</td>
          <td>マ</td>
          <td>ハ</td>
          <td>ナ</td>
          <td>タ</td>
          <td>サ</td>
          <td>カ</td>
          <td>ア</td>
          <th scope="row">a</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>リ</td>
          <td></td>
          <td>ミ</td>
          <td>ヒ</td>
          <td>ニ</td>
          <td>チ</td>
          <td>シ</td>
          <td>キ</td>
          <td>イ</td>
          <th scope="row">i</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>ル</td>
          <td>ユ</td>
          <td>ム</td>
          <td>フ</td>
          <td>ヌ</td>
          <td>ツ</td>
          <td>ス</td>
          <td>ク</td>
          <td>ウ</td>
          <th scope="row">u</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>レ</td>
          <td></td>
          <td>メ</td>
          <td>ヘ</td>
          <td>ネ</td>
          <td>テ</td>
          <td>セ</td>
          <td>ケ</td>
          <td>エ</td>
          <th scope="row">e</th>
        </tr>
        <tr>
          <td></td>
          <td>ヲ*</td>
          <td>ロ</td>
          <td>ヨ</td>
          <td>モ</td>
          <td>ホ</td>
          <td>ノ</td>
          <td>ト</td>
          <td>ソ</td>
          <td>コ</td>
          <td>オ</td>
          <th scope="row">o</th>
        </tr>
        </tbody>
      </table>
    </div>
    <!--Katakana Table END-->
    <p>* = rarely used</p>
    <p>
      Due to the straight lines and relatively few strokes, there are many characters in Katakana that look very similar. In particular, 「シ」、「ツ」 「ソ」、and 「ン」. You should pay careful attention to the stroke order and direction. You may also notice that the Katakana 「ヘ」 is virtually identical to its Hiragana counterpart 「へ」. They are in fact, written pretty much the same way. Below are handy PDFs for writing practice.
    </p>
    <ul>
      <li><a href="http://www.guidetojapanese.org/pdf/katakana_trace_sheet.pdf">Katakana trace sheets</a></li>
      <li><a href="http://japanese-lesson.com/characters/katakana/katakana_writing.html">japanese-lesson.com</a></li>
    </ul>

    <app-lesson-section>
      <div title>English words in Japanese</div>
      <div body>
        <p>
          Many words from foreign languages, particularly English, have become part of the Japanese language via Katakana throughout the years. However, there are relatively few distinct sounds in Japanese and only five vowel sounds. As a result, these words usually don’t bear much resemblance to their original pronunciations. An important thing to remember is to stay true to the Japanese pronunciation and completely forget how it’s really supposed to be pronounced. To give you an idea, here is a short list of foreign words and their Japanese equivalents.
        </p>
        <div class="table-responsive">
          <table class="table table-bordered">
            <caption class="text-center">Sample Katakana Words</caption>
            <tr>
              <th scope="row">English</th>
              <th scope="row">Japanese</th>
            </tr>
            <tr>
              <td>America</td>
              <td>アメリカ</td>
            </tr>
            <tr>
              <td>Russia</td>
              <td>ロシア</td>
            </tr>
            <tr>
              <td>Bus</td>
              <td>バス</td>
            </tr>
            <tr>
              <td>Motorcycle</td>
              <td>バイク</td>
            </tr>
            <tr>
              <td>French Fries</td>
              <td>フライドポテト</td>
            </tr>
          </table>
        </div>
      </div>
    </app-lesson-section>
  </div>
</app-lesson>
