<app-lesson>
  <div title>Chapter Overview</div>
  <div body>
    <app-lesson-section>
      <div title>The Script</div>
      <div body>
        <p>
          The Japanese writing system is comprised of three main written scripts: Hiragana, Katakana, and Kanji.
        </p>
        <p>
          Hiragana is the main phonetic writing system used to represent every distinct sound in Japanese. Because of its phonetic nature, we will first learn Hiragana to also learn how to pronounce all the sounds in the Japanese language.
        </p>
        <p>
          While Katakana represents the same sounds as Hiragana, it is mainly used to represent words imported from other languages.
        </p>
        <p>
          Kanji, which are Chinese characters adapted for Japanese, are heavily used in writing. There are no spaces in Japanese so Kanji is necessary in order to separate the words within a sentence. Kanji is also useful for distinguishing homophones, which occurs quite often given the limited number of distinct sounds in Japanese.
        </p>
      </div>
    </app-lesson-section>
    <app-lesson-section>
      <div title>Pronunciation</div>
      <div body>
        <p>
          In the next section, we will learn all the characters in Hiragana and how to pronounce them. As we will see, every character in Hiragana (and the Katakana equivalent) corresponds to a specific sound. This makes pronunciation very easy as each letter has exactly one pronunciation. However, because there are relatively few distinct sounds in the Japanese language, you must pay extra attention to proper intonation.
        </p>
        <p>
          Unlike English pronunciation which is based on accents, Japanese pronunciation is based on alterations between a high and low pitch. For example, homophones can have different pitches of low and high tones resulting in a slightly different sound despite sharing the same pronunciation. The biggest obstacle for obtaining proper and natural sounding speech is incorrect intonation. Therefore, as you listen to Japanese and begin to imitate the sounds, it is very important that you pay attention to pitch in order to sound like a native speaker.
        </p>
      </div>
    </app-lesson-section>
  </div>
</app-lesson>
