<app-lesson>
  <div title>Expressing state-of-being</div>
  <div body>
    <app-lesson-section>
      <div title>Declaring something is so and so using 「だ」</div>
      <div body>
        <p>Vocabulary</p>
        <ol>
          <li>人 【ひと】 – person</li>
          <li>学生 【がく・せい】 – student</li>
          <li>元気 【げん・き】 – healthy; lively</li>
          <ul>
            <li>Used as a greeting to indicate whether one is well</li>
          </ul>
        </ol>
        <p>
          One of the trickiest part of Japanese is that there is no verb for the state-of-being like the verb “to be” in English. You can, however, declare what something is by attaching the Hiragana character 「だ」 to a noun or na-adjective <b>only</b>. (We will learn about na-adjectives in the section on adjectives later.)
        </p>
        <app-note>
          <div title>Declaring that something is so using 「だ」</div>
          <ul>
            <li>Attach 「だ」 to the noun or na-adjective</li>
            <p>
              Example: 人＋だ＝人<mark>だ</mark>
            </p>
          </ul>
        </app-note>
        <p>Examples:</p>
        <ol>
          <li>
            <div class="vocab">
              人 <div class="vocab-text">ひと - Person</div>
            </div>
            <mark>だ</mark>。
          </li>
          Is person.
          <li>
            <div class="vocab">
              学生 <div class="vocab-text">がくせい - Student</div>
            </div>
            <mark>だ</mark>。
          </li>
          Is student.
          <li>
            <div class="vocab">
              元気 <div class="vocab-text">ともだち - Friend</div>
            </div>
            <mark>だ</mark>。
          </li>
          Is well.
        </ol>
        <p>Seems easy enough. Here’s the real kicker though.</p>
        <app-note>
          <div class="text-center"><b>A state-of-being can be implied without using 「だ」!</b></div>
        </app-note>
        <p>
          You can say you’re doing well or someone is a student without using 「だ」 at all. For example, below is an example of a very typical greeting among friends. Also notice how the subject isn’t even specified when it’s obvious from the context.
        </p>
        <p>Typical casual greeting:</p>

      </div>
    </app-lesson-section>
  </div>
</app-lesson>
