<app-lesson>
  <div title>Expressing state-of-being</div>
  <div body>
    <app-lesson-section>
      <div title>Declaring something is so and so using 「だ」</div>
      <div body>
        <p><b>Vocabulary:</b></p>
        <ol>
          <li>人 【ひと】 – person</li>
          <li>学生 【がく・せい】 – student</li>
          <li>元気 【げん・き】 – healthy; lively</li>
          <ul>
            <li>Used as a greeting to indicate whether one is well</li>
          </ul>
        </ol>
        <p>
          One of the trickiest part of Japanese is that there is no verb for the state-of-being like the verb “to be” in English. You can, however, declare what something is by attaching the Hiragana character 「だ」 to a noun or na-adjective <b>only</b>. (We will learn about na-adjectives in the section on adjectives later.)
        </p>
        <app-note>
          <div title>Declaring that something is so using 「だ」</div>
          <ul>
            <li>Attach 「だ」 to the noun or na-adjective</li>
            <p>
              Example: 人＋だ＝人<mark>だ</mark>
            </p>
          </ul>
        </app-note>
        <p><b>Examples:</b></p>
        <ol>
          <li>
            <div class="def">
              人 <div class="def-text">ひと - Person</div>
            </div>
            <mark>だ</mark>。
          </li>
          Is person.
          <li>
            <div class="def">
              学生 <div class="def-text">がくせい - Student</div>
            </div>
            <mark>だ</mark>。
          </li>
          Is student.
          <li>
            <div class="def">
              元気 <div class="def-text">ともだち - Friend</div>
            </div>
            <mark>だ</mark>。
          </li>
          Is well.
        </ol>
        <p>Seems easy enough. Here’s the real kicker though.</p>
        <app-note>
          <div class="text-center"><b>A state-of-being can be implied without using 「だ」!</b></div>
        </app-note>
        <p>
          You can say you’re doing well or someone is a student without using 「だ」 at all. For example, below is an example of a very typical greeting among friends. Also notice how the subject isn’t even specified when it’s obvious from the context.
        </p>
        <p><b>Typical casual greeting:</b></p>
        <div>
          A:
          <div class="def">
             元気？<div class="def-text">ともだち - Friend</div>
          </div>
        </div>
        <div>A: (Are you) well?</div>
        <br>
        <div>
          B:
          <div class="def">
            元気。<div class="def-text">ともだち - Friend</div>
          </div>
        </div>
        <div>B: (I'm) well?</div>

        <p>
          So you may be wondering, “What’s the point of using 「だ」?” Well, the main difference is that a declarative statement makes the sentence sound more emphatic and forceful in order to make it more… well declarative. Therefore, it is more common to hear men use 「だ」 at the end of sentences.
        </p>
        <p>
          The declarative 「だ」 is also needed in various grammatical structures where a state-of-being must be explicitly declared. There are also times when you cannot attach it. It’s all quite a pain in the butt really but you don’t have to worry about it yet.
        </p>
      </div>
    </app-lesson-section>

    <app-lesson-section>
      <div title>Conjugating to the negative state-of-being</div>
      <div body>
        <p><b>Vocabulary:</b></p>
        <ol>
          <li>学生 【がく・せい】 – student</li>
          <li>友達 【とも・だち】 – friend</li>
          <li>元気 【げん・き】 – healthy; lively</li>
          <ul>
            <li>Used as a greeting to indicate whether one is well</li>
          </ul>
        </ol>

        <p>
          In Japanese, negative and past tense are all expressed by conjugation. We can conjugate a noun or adjective to either its negative or past tense to say that something is not [X] or that something was [X]. This may be a bit hard to grasp at first but none of these state-of-being conjugations make anything declarative like 「だ」 does. We’ll learn how to make these tenses declarative by attaching 「だ」 to the end of the sentence in a later lesson.
        </p>
        <p>
          First, for the negative, attach 「じゃない」 to the noun or na-adjective.
        </p>
        <app-note>
          <div title>Conjugation rules for the negative state-of-being</div>
          <ul>
            <li>Attach 「じゃない」 to the noun or na-adjective</li>
            <p>Example: 学生＋じゃない＝学生<mark>じゃない</mark></p>
          </ul>
        </app-note>

        <p><b>Examples:</b></p>
        <ol>
          <li>
            <div class="def">
              学生 <div class="def-text">がくせい - Student</div>
            </div>
            <mark>じゃない。</mark>
          </li>
          <p>Is not a student.</p>
          <li>
            <div class="def">
              友達 <div class="def-text">ともだち - Friend</div>
            </div>
            <mark>じゃなかった。</mark>
          </li>
          <p>Was not friend</p>
          <li>
            <div class="def">
              元気 <div class="def-text">げんき - Healthy</div>
            </div>
            <mark>じゃなかった。</mark>
          </li>
          <p>Was not well</p>
        </ol>
      </div>
    </app-lesson-section>

    <app-lesson-section>
      <div title>Conjugation summary</div>
      <div body>
        <p>
          We’ve now learned how to express state-of-being in all four tenses. Next we will learn some particles, which will allow us assign roles to words. Here is a summary chart of the conjugations we learned in this section.
        </p>
        <app-table>
          <caption class="text-center">Summary of state-of-being</caption>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" colspan="2">Positive</th>
              <th scope="col" colspan="2">Negative</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Non-Past</th>
              <td>
                <div class="def">
                  学生 <div class="def-text">がくせい - Student</div>
                </div>
                （だ）
              </td>
              <td>Is student</td>
              <td>
                <div class="def">
                  学生 <div class="def-text">がくせい - Student</div>
                </div>
                じゃない
              </td>
              <td>Is not student</td>
            </tr>
            <tr>
              <th scope="row">Past</th>
              <td>
                <div class="def">
                  学生 <div class="def-text">がくせい - Student</div>
                </div>
                だった
              </td>
              <td>Was student</td>
              <td>
                <div class="def">
                  学生 <div class="def-text">がくせい - Student</div>
                </div>
                じゃなかった
              </td>
              <td>Was not student</td>
            </tr>
          </tbody>
        </app-table>
      </div>
    </app-lesson-section>
  </div>
</app-lesson>
