<app-lesson>
  <div title>Hiragana</div>
  <div body>
    <p>
      <i>Hiragana</i> is the basic Japanese phonetic script. It represents every sound in the Japanese language. Therefore, you can theoretically write everything in Hiragana. However, because Japanese is written with no spaces, this will create nearly indecipherable text.
    </p>
    <p>
      Here is a table of Hiragana and similar-sounding English consonant-vowel pronunciations. It is read up to down and right to left, which is how most Japanese books are written. In Japanese, writing the strokes in the correct order and direction is important, especially for Kanji. Because handwritten letters look slightly different from typed letters (just like how ‘a’ looks totally different when typed), you will want to use a resource that uses handwritten style fonts to show you how to write the characters (see below for links). I must also stress the importance of correctly learning how to pronounce each sound. Since every word in Japanese is composed of these sounds, learning an incorrect pronunciation for a letter can severely damage the very foundation on which your pronunciation lies.
    </p>
    <!--Hiragana Table-->
    <app-table>
      <caption class="text-center">Hiragana Table</caption>
      <thead>
      <tr>
        <th scope="col">n</th>
        <th scope="col">w</th>
        <th scope="col">r</th>
        <th scope="col">y</th>
        <th scope="col">m</th>
        <th scope="col">h</th>
        <th scope="col">n</th>
        <th scope="col">t</th>
        <th scope="col">s</th>
        <th scope="col">k</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>ん</td>
        <td>わ</td>
        <td>ら</td>
        <td>や</td>
        <td>ま</td>
        <td>は</td>
        <td>な</td>
        <td>た</td>
        <td>さ</td>
        <td>か</td>
        <td>あ</td>
        <th scope="row">a</th>
      </tr>
      <tr>
        <td></td>
        <td>ゐ*</td>
        <td>り</td>
        <td></td>
        <td>み</td>
        <td>ひ</td>
        <td>に</td>
        <td>ち</td>
        <td>し</td>
        <td>き</td>
        <td>い</td>
        <th scope="row">i</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>る</td>
        <td>ゆ</td>
        <td>む</td>
        <td>ふ</td>
        <td>ぬ</td>
        <td>つ</td>
        <td>す</td>
        <td>く</td>
        <td>う</td>
        <th scope="row">u</th>
      </tr>
      <tr>
        <td></td>
        <td>ゑ*</td>
        <td>れ</td>
        <td></td>
        <td>ね</td>
        <td>へ</td>
        <td>ね</td>
        <td>て</td>
        <td>せ</td>
        <td>け</td>
        <td>え</td>
        <th scope="row">e</th>
      </tr>
      <tr>
        <td></td>
        <td>を</td>
        <td>ろ</td>
        <td>よ</td>
        <td>も</td>
        <td>ほ</td>
        <td>の</td>
        <td>と</td>
        <td>そ</td>
        <td>こ</td>
        <td>お</td>
        <th scope="row">o</th>
      </tr>
      </tbody>
    </app-table>
    <!--Hiragana Table END-->
    <p>
      * = no longer used
    </p>
    <p>
      You can listen to the pronunciation for each character by clicking on it in chart. If your browser doesn’t support audio, you can also download them at
      <a href="http://www.guidetojapanese.org/audio/basic_sounds.zip">http://www.guidetojapanese.org/audio/basic_sounds.zip</a>. There are also other
      <a href="http://www.tokyowithkids.com/fyi/hiragana_chart.html">free resources</a> with audio samples.
    </p>
    <p>
      Hiragana is not too tough to master or teach and as a result, there are a variety of web sites and free programs that are already available on the web. I also suggest recording yourself and comparing the sounds to make sure you’re getting it right.
    </p>
    <p>
      When practicing writing Hiragana by hand, the important thing to remember is that the stroke order and direction of the strokes <u><i><mark>matter</mark></i></u>. There, I underlined, italicized, bolded, and highlighted it to boot. Trust me, you’ll eventually find out why when you read other people’s hasty notes that are nothing more than chicken scrawls. The only thing that will help you is that everybody writes in the same order and so the “flow” of the characters is fairly consistent. I <mark>strongly</mark> recommend that you pay close attention to stroke order from the beginning starting with Hiragana to avoid falling into bad habits. While there are many tools online that aim to help you learn Hiragana, the best way to learn how to write it is the old fashioned way: a piece of paper and pen/pencil. Below are handy PDFs for Hiragana writing practice.
    </p>
    <u>
      <li><a href="http://japanese-lesson.com/characters/hiragana/hiragana_writing.html">japanese-lesson.com</a></li>
    </u><br>
    <p>
      As an aside, an old Japanese poem called 「いろは」 was often used as the base for ordering of Hiragana until recent times. The poem contains every single Hiragana character except for 「ん」 which probably did not exist at the time it was written. You can check out this poem for yourself in
      <a href="http://en.wikipedia.org/wiki/Iroha">this wikipedia article</a>. As the article mentions, this order is still sometimes used in ordering lists so you may want to spend some time checking it out.
    </p>
    <app-note>
      <div title>Notes</div>
      <ol>
        <li>
          Except for 「し」、「ち」、「つ」、and 「ん」、you can get a sense of how each letter is pronounced by matching the consonant on the top row to the vowel. For example, 「き」 would become / ki / and 「ゆ」 would become / yu / and so on.
        </li>
        <li>
          As you can see, not all sounds match the way our consonant system works. As written in the table, 「ち」 is pronounced “chi” and 「つ」 is pronounced “tsu”.
        </li>
        <li>
          The / r / or / l / sound in Japanese is quite different from any sound in English. It involves more of a roll and a clip by hitting the roof of your mouth with your tongue. Pay careful attention to that whole column.
        </li>
        <li>
          Pay careful attention to the difference between / tsu / and / su /.
        </li>
        <li>
          The 「ん」 character is a special character because it is rarely used by itself and does not have a vowel sound. It is attached to another character to add a / n / sound. For example, 「かん」 becomes ‘kan’ instead of ‘ka’, 「まん」 becomes ‘man’ instead of ‘ma’, and so on and so forth.
        </li>
        <li>
          <u>You must learn the correct stroke order and direction!</u> Use the following pdf practice sheets.
        </li>
      </ol>
      <ul>
        <li><a href="japanese-lesson.com">japanese-lesson.com</a></li>
      </ul>
    </app-note>

    <app-lesson-section>
      <div title>The Muddied Sounds</div>
      <div body>
        <p>
          Once you memorize all the characters in Hiragana, there are still some additional sounds left to be learned. There are five more consonant sounds that are written by either affixing two tiny lines similar to a double quotation mark called dakuten （濁点） or a tiny circle called handakuten （半濁点）. This essentially creates a “muddy” or less clipped version of the consonant (technically called a voiced consonant or 「濁り」, which literally means to become muddy).
        </p>
        <p>
          All the voiced consonant sounds are shown in the table below.
        </p>
        <app-table>
          <caption class="text-center">Voiced Hiragana</caption>
          <thead>
          <tr>
            <th scope="col">p</th>
            <th scope="col">b</th>
            <th scope="col">d</th>
            <th scope="col">z</th>
            <th scope="col">g</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>ぱ</td>
              <td>ば</td>
              <td>だ</td>
              <td>ざ</td>
              <td>が</td>
              <th scope="row">a</th>
            </tr>
            <tr>
              <td>ぴ</td>
              <td>び</td>
              <td>ぢ(ji)</td>
              <td>じ(ji)</td>
              <td>ぎ</td>
              <th scope="row">i</th>
            </tr>
            <tr>
              <td>ぷ</td>
              <td>ぶ</td>
              <td>づ(dzu)</td>
              <td>ず</td>
              <td>ぐ</td>
              <th scope="row">u</th>
            </tr>
            <tr>
              <td>ぺ</td>
              <td>べ</td>
              <td>で</td>
              <td>ぜ</td>
              <td>げ</td>
              <th scope="row">e</th>
            </tr>
            <tr>
              <td>ぽ</td>
              <td>ぼ</td>
              <td>ど</td>
              <td>ぞ</td>
              <td>ご</td>
              <th scope="row">o</th>
            </tr>
          </tbody>
        </app-table>
        <app-note>
          <div title>Notes</div>
          <ul>
            <li>Notice that 「ぢ」 sounds essentially identical to 「じ」 and both are pronounced as / ji /, while 「づ」 is pronounced like / dzu /.</li>
          </ul>
        </app-note>
      </div>
    </app-lesson-section>

    <app-lesson-section>
      <div title>The Small 「や」、「ゆ」、and 「よ」</div>
      <div body>
        <p>
          You can also combine a consonant with a / ya / yu / yo / sound by attaching a small 「や」、「ゆ」、or 「よ」 to the / i / vowel character of each consonant.
        </p>
        <app-table>
          <caption class="text-center">All small や、ゆ、and よ combinations in Hiragana</caption>
          <thead>
            <tr>
              <th scope="col">p</th>
              <th scope="col">b</th>
              <th scope="col">j</th>
              <th scope="col">g</th>
              <th scope="col">r</th>
              <th scope="col">m</th>
              <th scope="col">h</th>
              <th scope="col">n</th>
              <th scope="col">c</th>
              <th scope="col">s</th>
              <th scope="col">k</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ぴゃ</td>
              <td>びゃ</td>
              <td>じゃ</td>
              <td>ぎゃ</td>
              <td>りゃ</td>
              <td>みゃ</td>
              <td>ひゃ</td>
              <td>にゃ</td>
              <td>ちゃ</td>
              <td>しゃ</td>
              <td>きゃ</td>
              <th scope="row">ya</th>
            </tr>
            <tr>
              <td>ぴゅ</td>
              <td>びゅ</td>
              <td>じゅ</td>
              <td>ぎゅ</td>
              <td>りゅ</td>
              <td>みゅ</td>
              <td>ひゅ</td>
              <td>にゅ</td>
              <td>ちゅ</td>
              <td>しゅ</td>
              <td>きゅ</td>
              <th scope="row">yu</th>
            </tr>
            <tr>
              <td>ぴょ</td>
              <td>びょ</td>
              <td>じょ</td>
              <td>ぎょ</td>
              <td>りょ</td>
              <td>みょ</td>
              <td>ひょ</td>
              <td>にょ</td>
              <td>ちょ</td>
              <td>しょ</td>
              <td>きょ</td>
              <th scope="row">yo</th>
            </tr>
          </tbody>
        </app-table>
        <app-note>
          <div title>Notes</div>
          <ol>
            <li>
              The above table is the same as before. Match the top consonants to the vowel sound on the right. Ex: きゃ = kya.
            </li>
            <li>
              Also note that since 「じ」 is pronounced / ji /, all the small 「や」、「ゆ」、「よ」 sounds are also based off of that, namely: / jya / jyu / jyo /.
            </li>
            <li>
              The same thing also applies to 「ち」 which becomes / cha / chu / cho / and 「し」 which becomes / sha / shu / sho /. (Though arguably, you can still think of it as / sya / syu / syo /.)
            </li>
          </ol>
        </app-note>
      </div>
    </app-lesson-section>

    <app-lesson-section>
      <div title>The Small 「つ」</div>
      <div body>
        <p>
          A small 「つ」 is inserted between two characters to carry the consonant sound of the second character to the end of the first. For example, if you inserted a small 「つ」 between 「び」 and 「く」 to make 「びっく」, the / k / consonant sound is carried back to the end of the first character to produce “bikku”. Similarly, 「はっぱ」 becomes “happa”, 「ろっく」 becomes “rokku” and so on and so forth.
        </p>
        <p>Example</p>
        <ol>
          <li>ざ<mark>っ</mark>し (za<mark>s</mark>-shi) – magazine</li>
          <li>か<mark>っ</mark>ぷ (ka<mark>p</mark>-pu) – cup</li>
        </ol>
        <app-note>
          <div title>Notes</div>
          <ol>
            <li>
              A small 「つ」 is used to carry the consonant sound of the second character to the end of the first. Ex: 「がっき」 = “ga<mark>k</mark>ki”.
            </li>
            <li>
              The addition of another consonant almost always creates the characteristic clipping sound. But make sure you’re clipping with the right consonant (the consonant of the second character).
            </li>
          </ol>
        </app-note>
      </div>
    </app-lesson-section>

    <app-lesson-section>
      <div title>The Long Vowel Sound</div>
      <div body>
        <p>
          Whew! You’re almost done. In this last portion, we will go over the long vowel sound which is simply extending the duration of a vowel sound. You can extend the vowel sound of a character by adding either 「あ」、「い」、or 「う」 depending on the vowel in accordance to the following chart.
        </p>
        <app-table>
          <caption class="text-center">Extending Vowel Sounds</caption>
          <thead>
            <tr>
              <th scope="col">Vowel Sounds</th>
              <th scope="col">Extended by</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>/a/</td>
              <td>あ</td>
            </tr>
            <tr>
              <td>/i/e/</td>
              <td>い</td>
            </tr>
            <tr>
              <td>/u/o/</td>
              <td>う</td>
            </tr>
          </tbody>
        </app-table>
        <p>
          For example, if you wanted to create an extended vowel sound from 「か」, you would add 「あ」 to create 「かあ」. Other examples would include: 「き → きい」, 「く → くう」, 「け → けい」, 「こ → こう」, 「さ → さあ」 and so on. The reasoning for this is quite simple. Try saying 「か」 and 「あ」 separately. Then say them in succession as fast as you can. You’ll notice that soon enough, it sounds like you’re dragging out the / ka / for a longer duration than just saying / ka / by itself. When pronouncing long vowel sounds, try to remember that they are really two sounds merged together.
        </p>
        <p>
          It’s important to make sure you hold the vowel sound long enough because you can be saying things like “here” （ここ） instead of “high school” （こうこう） or “middle-aged lady” （おばさん） instead of “grandmother” （おばあさん） if you don’t stretch it out correctly!
        </p>
        <p>
          Examples
        </p>
        <ol>
          <li>
            がくせ<mark>い</mark> (ga-ku-s<mark>e</mark>) – student
          </li>
          <li>
            せんせ<mark>い</mark> (sen-s<mark>e</mark>) – teacher
          </li>
          <li>
            きょ<mark>う</mark> (ky<mark>o</mark>) – today
          </li>
          <li>
            おはよ<mark>う</mark> (o-ha-y<mark>o</mark>) – good morning
          </li>
          <li>
            おか<mark>あ</mark>さん (o-k<mark>a</mark>-san) – mother
          </li>
        </ol>
        <p>
          There are rare exceptions where an / e / vowel sound is extended by adding 「え」 or an / o / vowel sound is extended by 「お」. Some examples of this include 「おねえさん」、「おおい」、and 「おおきい」. Pay careful attention to these exceptions but don’t worry, there aren’t too many of them.
        </p>
      </div>
    </app-lesson-section>
  </div>
</app-lesson>
