<app-lesson>
  <div title>Hiragana</div>
  <div body>
    <p>
      The table below represents the entire Hiragana syllabary categorized by the consonant and vowel sounds. With the exception of a few sounds (as shown by the pronunciation in parentheses), most sounds in Japanese are easily represented by a vowel or consonant-vowel. There is also one consonant-only sound: 「ん」.
    </p>
    <!--Hiragana Table-->
    <app-table>
      <caption class="text-center">Hiragana Table</caption>
      <thead>
      <tr>
        <th scope="col">n</th>
        <th scope="col">w</th>
        <th scope="col">r</th>
        <th scope="col">y</th>
        <th scope="col">m</th>
        <th scope="col">h</th>
        <th scope="col">n</th>
        <th scope="col">t</th>
        <th scope="col">s</th>
        <th scope="col">k</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>ん</td>
        <td>わ</td>
        <td>ら</td>
        <td>や</td>
        <td>ま</td>
        <td>は</td>
        <td>な</td>
        <td>た</td>
        <td>さ</td>
        <td>か</td>
        <td>あ</td>
        <th scope="row">a</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>り</td>
        <td></td>
        <td>み</td>
        <td>ひ</td>
        <td>に</td>
        <td>ち</td>
        <td>し</td>
        <td>き</td>
        <td>い</td>
        <th scope="row">i</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>る</td>
        <td>ゆ</td>
        <td>む</td>
        <td>ふ</td>
        <td>ぬ</td>
        <td>つ</td>
        <td>す</td>
        <td>く</td>
        <td>う</td>
        <th scope="row">u</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>れ</td>
        <td></td>
        <td>ね</td>
        <td>へ</td>
        <td>ね</td>
        <td>て</td>
        <td>せ</td>
        <td>け</td>
        <td>え</td>
        <th scope="row">e</th>
      </tr>
      <tr>
        <td></td>
        <td>を</td>
        <td>ろ</td>
        <td>よ</td>
        <td>も</td>
        <td>ほ</td>
        <td>の</td>
        <td>と</td>
        <td>そ</td>
        <td>こ</td>
        <td>お</td>
        <th scope="row">o</th>
      </tr>
      </tbody>
    </app-table>
    <!--Hiragana Table END-->
    <p>
      To understand how this chart works, let’s start by looking at the right-most column, which are all the vowel-only sounds.To understand how this chart works, let’s start by looking at the right-most column, which are all the vowel-only sounds.
    </p>
    <!--Vowel Table-->
    <app-table>
      <caption class="text-center">Agyou Line「あ行」</caption>
      <tr>
        <th scope="row">a</th>
        <th scope="row">i</th>
        <th scope="row">u</th>
        <th scope="row">e</th>
        <th scope="row">o</th>
      </tr>
      <tr>
        <td>あ</td>
        <td>い</td>
        <td>う</td>
        <td>え</td>
        <td>お</td>
      </tr>
    </app-table>
    <!--Vowel Table END-->
    <p>
      Here are some sample words for reading practice. <br>
      Example: あい – love (read as “ai”)
    </p>
    <!--Examples-->
    <ol>
      <li>あう - to meet</li>
      <li>いえ - house</li>
      <li>おい - nephew</li>
      <li>うえ - above</li>
      <li>いう - to say</li>
    </ol>
    <!--Examples END-->
    <p>
      Each additional column represents a consonant sound with each of the five vowel sounds. For example, the “k” column has the following sounds.
    </p>
    <!--Kagyou Table-->
    <app-table>
      <caption class="text-center">Kagyou Line「か行」</caption>
      <tr>
        <th scope="row">ka</th>
        <th scope="row">ki</th>
        <th scope="row">ku</th>
        <th scope="row">ke</th>
        <th scope="row">ko</th>
      </tr>
      <tr>
        <td>か</td>
        <td>き</td>
        <td>く</td>
        <td>け</td>
        <td>こ</td>
      </tr>
    </app-table>
    <!--Kagyou Table END-->
    <p>
      「ん」 is the only character with no vowel sound. It adds an “n” sound as shown in the examples below.
    </p>
    <ol>
      <li>きん – gold (read as “kin”)</li>
      <li>おんな – woman; girl (read as “on-na”)</li>
      <li>おんがく – music (read as “on-ga-ku”)</li>
    </ol>
    <p>
      Here are my recommendations for learning how to read, write, hear, and say the characters and sounds in Hiragana.
    </p>
    <ul>
      <li><b>Reading:</b> You’ll be getting plenty of reading practice with the material in this book.</li>
      <li>
        <b>Writing:</b> You’ll need to develop muscle memory so use regular pen and paper. Below are handy PDFs for Hiragana writing practice.
        <ul>
          <li><a href="http://www.guidetojapanese.org/pdf/hiragana_trace_sheet.pdf">Hiragana trace sheets</a></li>
          <li><a href="japanese-lesson.com">japanese-lesson.com</a></li>
        </ul>
      </li>
      <li><b>Hearing:</b> You can listen to the pronunciation for each character by clicking on it in the first chart. If your browser doesn’t support audio, you can also download them at
        <a href="http://www.guidetojapanese.org/audio/basic_sounds.zip">http://www.guidetojapanese.org/audio/basic_sounds.zip</a>. There are also other
        <a href="http://www.tokyowithkids.com/fyi/hiragana_chart.html">free resources</a> with audio samples.</li>
      <li><b>Speaking:</b> Practice repeating the sounds. I recommend recording yourself to get an accurate idea of what you sound like. Pay careful attention to the “r” sounds!</li>
    </ul>
    <p>
      While most of the sounds are pretty straightforward, the “r” sounds deserve careful attention for English speakers because there is no equivalent sound in English. It is more similar to the
      <a href="http://spanish.about.com/od/spanishpronunciation/a/pronouncing_r.htm">“r” sound in Spanish.</a>
    </p>
    <blockquote class="blockquote">
      <p class="text-muted"><em>What works for some English speakers (even if it may not be technically correct) is to shape the lips something like the sound that is made for the English “r,” but to make the sound with a single trill or flap of the tongue against the front of the palate.</em></p>
    </blockquote>
  </div>
</app-lesson>
