/* You can add global styles to this file, and also import other style files */
body, html{
  background-color: #FFFFFF;
}

@font-face {
  font-family: NotoSans;
  src: local("NotoSans"), url("./assets/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: NotoSans;
  src: local("NotoSans"), url("./assets/fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: NotoSans;
  src: local("NotoSans"), url("./assets/fonts/NotoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: NotoSans;
  src: local("NotoSans"), url("./assets/fonts/NotoSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

