<app-lesson>
  <div title>Additional Sounds</div>
  <div body>
    <p>
      Though we have covered all the distinct characters in both Hiragana and Katakana, there are additional variations and sounds that still remain to be learned.
    </p>
    <app-lesson-section>
      <div title>The Script</div>
      <div body>
        <p>
          Voiced consonants are consonant sounds that require a voice, creating a vibration in your throat. A number of consonant sounds in Hiragana and Katakana can be changed to their voiced counterpart by adding two small dashes to the upper-right corner of the character; namely the “k”, “s”, “t”, and “h” consonant sounds. There is also a semi-voiced consonant sound “p”, which is created by putting a small circle in the upper-right corner of the “h” characters.
        </p>
      </div>
    </app-lesson-section>
    <app-lesson-section>
      <div title>Pronunciation</div>
      <div body>
        <p>
          In the next section, we will learn all the characters in Hiragana and how to pronounce them. As we will see, every character in Hiragana (and the Katakana equivalent) corresponds to a specific sound. This makes pronunciation very easy as each letter has exactly one pronunciation. However, because there are relatively few distinct sounds in the Japanese language, you must pay extra attention to proper intonation.
        </p>
        <!--Voiced Sounds Tables-->
        <app-table>
          <caption class="text-center">Voiced Hiragana</caption>
          <thead>
          <tr>
            <th scope="col">p</th>
            <th scope="col">b</th>
            <th scope="col">d</th>
            <th scope="col">z</th>
            <th scope="col">g</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>ぱ</td>
            <td>ば</td>
            <td>だ</td>
            <td>ざ</td>
            <td>が</td>
            <th scope="row">a</th>
          </tr>
          <tr>
            <td>ぴ</td>
            <td>び</td>
            <td>ぢ</td>
            <td>じ</td>
            <td>ぎ</td>
            <th scope="row">i</th>
          </tr>
          <tr>
            <td>ぷ</td>
            <td>ぶ</td>
            <td>づ</td>
            <td>ず</td>
            <td>ぐ</td>
            <th scope="row">u</th>
          </tr>
          <tr>
            <td>ぺ</td>
            <td>べ</td>
            <td>で</td>
            <td>ぜ</td>
            <td>げ</td>
            <th scope="row">e</th>
          </tr>
          <tr>
            <td>ぽ</td>
            <td>ぼ</td>
            <td>ど</td>
            <td>ぞ</td>
            <td>ご</td>
            <th scope="row">o</th>
          </tr>
          </tbody>
        </app-table>


        <app-table>
          <caption class="text-center">Voiced Katakana</caption>
          <thead>
          <tr>
            <th scope="col">p</th>
            <th scope="col">b</th>
            <th scope="col">d</th>
            <th scope="col">z</th>
            <th scope="col">g</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>パ</td>
            <td>バ</td>
            <td>ダ</td>
            <td>ザ</td>
            <td>ガ</td>
            <th scope="row">a</th>
          </tr>
          <tr>
            <td>ピ</td>
            <td>ビ</td>
            <td>ヂ</td>
            <td>ジ</td>
            <td>ギ</td>
            <th scope="row">i</th>
          </tr>
          <tr>
            <td>プ</td>
            <td>ブ</td>
            <td>ヅ</td>
            <td>ズ</td>
            <td>グ</td>
            <th scope="row">u</th>
          </tr>
          <tr>
            <td>ペ</td>
            <td>ヘ</td>
            <td>デ</td>
            <td>セ</td>
            <td>ゲ</td>
            <th scope="row">e</th>
          </tr>
          <tr>
            <td>ポ</td>
            <td>ボ</td>
            <td>ド</td>
            <td>ゾ</td>
            <td>ゴ</td>
            <th scope="row">o</th>
          </tr>
          </tbody>
        </app-table>
        <!--Voiced Sounds Tables END-->
      </div>
    </app-lesson-section>

    <app-lesson-section>
      <div title>Y-vowel sounds</div>
      <div body>
        <p>
          A consonant can precede the three y-sounds: 「や」、「ゆ」、 and 「よ」. This is done by attaching a small, half-size version of the y-sounds to the consonant+i sounds as you can see in the table below.
        </p>
        <!--Glides-->
        <app-table>
          <caption class="text-center">All small や、ゆ、and よ combinations in Hiragana</caption>
          <thead>
          <tr>
            <th scope="col">p</th>
            <th scope="col">b</th>
            <th scope="col">j</th>
            <th scope="col">g</th>
            <th scope="col">r</th>
            <th scope="col">m</th>
            <th scope="col">h</th>
            <th scope="col">n</th>
            <th scope="col">c</th>
            <th scope="col">s</th>
            <th scope="col">k</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>ぴゃ</td>
            <td>びゃ</td>
            <td>じゃ</td>
            <td>ぎゃ</td>
            <td>りゃ</td>
            <td>みゃ</td>
            <td>ひゃ</td>
            <td>にゃ</td>
            <td>ちゃ</td>
            <td>しゃ</td>
            <td>きゃ</td>
            <th scope="row">ya</th>
          </tr>
          <tr>
            <td>ぴゅ</td>
            <td>びゅ</td>
            <td>じゅ</td>
            <td>ぎゅ</td>
            <td>りゅ</td>
            <td>みゅ</td>
            <td>ひゅ</td>
            <td>にゅ</td>
            <td>ちゅ</td>
            <td>しゅ</td>
            <td>きゅ</td>
            <th scope="row">yu</th>
          </tr>
          <tr>
            <td>ぴょ</td>
            <td>びょ</td>
            <td>じょ</td>
            <td>ぎょ</td>
            <td>りょ</td>
            <td>みょ</td>
            <td>ひょ</td>
            <td>にょ</td>
            <td>ちょ</td>
            <td>しょ</td>
            <td>きょ</td>
            <th scope="row">yo</th>
          </tr>
          </tbody>
        </app-table>


        <app-table>
          <caption class="text-center">All small や、ゆ、and よ combinations in Katakana</caption>
          <thead>
          <tr>
            <th scope="col">p</th>
            <th scope="col">b</th>
            <th scope="col">j</th>
            <th scope="col">g</th>
            <th scope="col">r</th>
            <th scope="col">m</th>
            <th scope="col">h</th>
            <th scope="col">n</th>
            <th scope="col">c</th>
            <th scope="col">s</th>
            <th scope="col">k</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>ピャ</td>
            <td>ビャ</td>
            <td>ジャ</td>
            <td>ギャ</td>
            <td>リャ</td>
            <td>ミャ</td>
            <td>ヒャ</td>
            <td>ニャ</td>
            <td>チャ</td>
            <td>シャ</td>
            <td>キャ</td>
            <th scope="row">ya</th>
          </tr>
          <tr>
            <td>ピュ</td>
            <td>ビュ</td>
            <td>ジュ</td>
            <td>ギュ</td>
            <td>リュ</td>
            <td>ミュ</td>
            <td>ヒュ</td>
            <td>ニュ</td>
            <td>チュ</td>
            <td>シュ</td>
            <td>キュ</td>
            <th scope="row">yu</th>
          </tr>
          <tr>
            <td>ピョ</td>
            <td>ビョ</td>
            <td>ジョ</td>
            <td>ギョ</td>
            <td>リョ</td>
            <td>ミョ</td>
            <td>ヒョ</td>
            <td>ニョ</td>
            <td>チョ</td>
            <td>ショ</td>
            <td>キョ</td>
            <th scope="row">yo</th>
          </tr>
          </tbody>
        </app-table>
        <!--Glides END-->
      </div>
    </app-lesson-section>

    <app-lesson-section>
      <div title>Hard Consonant Sounds</div>
      <div body>
        <p>
          While no single letter ends in a consonant sound （except 「ん」）, Japanese does have a way to carry over the next consonant sound back with a small 「つ」. This can be used with the consonants “p, k, t, s” to create a hard stop.
        </p>
        <p>
          For example, 「ひと」 (meaning “person”) would normally be read as “hi-to”. However, by adding a small 「つ」: 「ひ<mark>っ</mark>と」, the “t” consonant sound is carried back and is pronounced “hi<mark>t</mark>-to” (meaning “hit”).
        </p>
        <p>Here are some more examples.</p>
        <ol>
          <li>トラ<mark>ッ</mark>ク (to-ra<mark>k</mark>-ku) – truck</li>
          <li>ざ<mark>っ</mark>し (za<mark>s</mark>-shi) – magazine</li>
          <li>カ<mark>ッ</mark>プ (ka<mark>p</mark>-pu)– cup</li>
        </ol>
      </div>
    </app-lesson-section>

    <app-lesson-section>
      <div title>The Long Vowel Sound</div>
      <div body>
        <p>
          We will now go over the long vowel sound which is simply extending the duration of a vowel sound. You can extend the vowel sound of a character by adding either 「あ」、「い」、or 「う」 depending on the vowel as shown in the following chart.
        </p>
        <app-table>
          <caption class="text-center">Extending Vowel Sounds</caption>
          <tr>
            <th scope="row">Vowel Sound</th>
            <th scope="row">Extended by</th>
          </tr>
          <tr>
            <td>/a/</td>
            <td>あ</td>
          </tr>
          <tr>
            <td>/i/e/</td>
            <td>い</td>
          </tr>
          <tr>
            <td>/u/o/</td>
            <td>う</td>
          </tr>
        </app-table>

        <p>
          For example, if you wanted to create an extended vowel sound from 「か」, you would add 「あ」 to create 「かあ」. Other examples would include: 「き → きい」, 「く → くう」, 「け → けい」, 「こ → こう」, 「さ → さあ」 and so on. The reason for this is quite simple. Try saying 「か」 and 「あ」 separately. Then say them in succession as fast as you can. You’ll notice that it’s easier to drag out the vowel.
        </p>
        <p>
          It’s important to make sure you hold the vowel sound to the full length of both characters because there are many similar words that are only different by the length of the vowel. For example, 「ここ」 means “here” while 「こうこう」 means “High school”.
        </p>
        <p>Here is a short list of example words with long vowel sounds. The long vowel sound is highlighted.</p>

        <ol>
          <li>がくせ<mark>い</mark> (ga-ku-s<mark>e</mark>) – student</li>
          <li>せんせ<mark>い</mark> (sen-s<mark>e</mark>) – teacher</li>
          <li>きょ<mark>う</mark> (ky<mark>o</mark>) – today</li>
          <li>おはよ<mark>う</mark> (o-ha-y<mark>o</mark>) – good morning</li>
          <li>おか<mark>あ</mark>さん (o-k<mark>a</mark>-san) – mother</li>
        </ol>
        <p>
          There are also a small number of exceptions where an “e” vowel sound is extended by adding 「え」 or an “o” vowel sound is extended with 「お」. We’ll see example of these words in later sections.
        </p>
        <p>Long vowel sounds in Katakana are much easier. You simply need to use a dash: 「ー」.</p>
        <ol>
          <li>ツア<mark>ー</mark> (tsu-<mark>a</mark>) – tour</li>
          <li>メ<mark>ー</mark>ル (m<mark>e</mark>-ru) – email</li>
          <li>ケ<mark>ー</mark>キ (k<mark>e</mark>-ki) – cake</li>
        </ol>
      </div>
    </app-lesson-section>
  </div>
</app-lesson>
