.navigation-container{
  max-height: 100vh;
  overflow: auto;
}

.chapter-list-group{
  padding-top: 50pt;
  width: 90%;
}

.chapter-header{
  color: black;
  border: 0;
  margin: 5pt 0 5pt 0;
  font-weight: bold;
  /*border-bottom: 3pt solid #F6B6BC;*/
  background-image: linear-gradient(45deg, #5390D9, #56CFE1, #48BFE3);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 3pt;
}
.chapter-items{
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
}

.chapter-items-button{
  outline: none;
  text-align: left;
  background-color: white;
  color: black;
  padding: 0 10pt;
  margin: 5pt 0;
  border: 1pt solid #5390D9;
  border-radius: 100pt;
}

.chapter-items-button:hover, .active-button{
  background-color: #5390D9;
  color: white;
}

.chapter-subsections{
  color: inherit;
  margin: 5pt 0;
}

.row{
  margin: auto;
  height: 100vh;
}
