.chapter-list-group{
  width: 90%;
}

.chapter-header{
  background-color: transparent;
  color: white;
  border: 0;
  border-bottom: 3pt solid #25292d;
}

.chapter-items{
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
}

.chapter-items button{
  outline: none;
  text-align: left;
  background-color: #25292d;
  border-radius: 5pt;
  padding: 0 5pt;
  margin: 5pt 0;
  border: 0;
}

.chapter-subsections{
  color: white;
  margin: 5pt 0;
}

.row{
  margin: auto;
  height: 100vh;
}
