<!-- Side bar implementation -->
<div class="navigation-container row d-flex justify-content-center">
  <ul class="chapter-list-group list-group">
    <!--The Writing System-->
    <li class="chapter-header list-group-item btn"
        data-toggle="collapse" href="#writing-system" role="button">The Writing System</li>
    <li class="chapter-items list-group-item collapse" id="writing-system">
      <button class="chapter-items-button btn-block" routerLink="Writing-System/Chapter-Overview" routerLinkActive="active-button"
              [routerLinkActiveOptions]="{exact: true}">
        <div class="chapter-subsections small">Chapter Overview</div>
      </button>
      <button class="chapter-items-button btn-block" routerLink="Writing-System/Hiragana" routerLinkActive="active-button">
        <div class="chapter-subsections small">Hiragana</div>
      </button>
      <button class="chapter-items-button btn-block" routerLink="Writing-System/Katakana" routerLinkActive="active-button">
        <div class="chapter-subsections small">Katakana</div>
      </button>
      <button class="chapter-items-button btn-block" routerLink="Writing-System/Kanji" routerLinkActive="active-button">
        <div class="chapter-subsections small">Kanji</div>
      </button>
    </li>
    <!--The Writing System END-->
    <!--Basic Grammar-->
    <li class="chapter-header list-group-item btn"
        data-toggle="collapse" href="#basic-grammar" role="button">Basic Grammar</li>
    <li class="chapter-items list-group-item collapse" id="basic-grammar">
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Chapter Overview</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Expressing State-of-being</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Introduction to Particles</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Adjectives</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Verb Basics</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Negative Verbs</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Past Tense</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Particles Used with Verbs</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Transitive and Intransitive Verbs</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Relative Clause and Sentence Order</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Noun Related Particles</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Adverbs and Sentence-ending Particles</div>
      </button>
    </li>
    <!--Basic Grammar END-->
    <!--Essential Grammar-->
    <li class="chapter-header list-group-item btn"
        data-toggle="collapse" href="#essential-grammar" role="button">Essential Grammar</li>
    <li class="chapter-items list-group-item collapse" id="essential-grammar">
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Chapter Overview</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Polite Form and Verb Stems</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Addressing People</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">The Question Marker</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Compound Sentences</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Other uses of te-form</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Potential Form</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Using する and なる with the に particle</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Conditionals</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Expressing "must" or "have to"</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Desire and Suggestions</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Acting on Relative Clauses</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Defining and Describing</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Trying or Attempting Something</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Giving and Receiving</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Making Request</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Numbers and Counting</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Casual Patterns and Slang</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Review and more sentence-ending particles</div>
      </button>
    </li>
    <!--Essential Grammar END-->
    <!--Special Expressions-->
    <li class="chapter-header list-group-item btn"
        data-toggle="collapse" href="#special-expressions" role="button">Special Expressions</li>
    <li class="chapter-items list-group-item collapse" id="special-expressions">
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Chapter Overview</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Hiragana</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Causative and Passive Verbs</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Honorific and Humble Forms</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Unintended Actions</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Special Expressions with Generic Nouns</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Various degrees of certainty</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Expressing Amounts</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Similarity or hearsay</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Using 方　and よる</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Actions that are easy or hard to do</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">More negative verbs</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Hypothesizing and Concluding</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Time-specific actions</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Expressing a lack of change</div>
      </button>
    </li>
    <!--Special Expressions END-->
    <!--Advanced Topics-->
    <li class="chapter-header list-group-item btn"
        data-toggle="collapse" href="#advanced-topics" role="button">Advanced Topics</li>
    <li class="chapter-items list-group-item collapse" id="advanced-topics">
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Chapter Overview</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Formal Expressions</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Things that should be a certain way</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">The minimum expectation</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Showing signs of something</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Expressing non-feasibility</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Tendencies</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Advanced Volitional</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Immediate Events</div>
      </button>
      <button class="chapter-items-button btn-block">
        <div class="chapter-subsections small">Other Grammar</div>
      </button>
    </li>
    <!--Advanced Topics END-->
  </ul>
</div>
