.chapter-list-group{
  width: 90%;
}

.chapter-header{
  color: black;
  border: 0;
  margin: 5pt 0 5pt 0;
  font-weight: bold;
  background-image: linear-gradient(45deg, #4158D0, #C850C0, #FFCC70);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 3pt;
}

.chapter-items{
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
}

.chapter-items button{
  outline: none;
  text-align: left;
  background-color: white;
  border-radius: 100pt;
  padding: 0 5pt;
  margin: 5pt 0;
  border: 0;
  box-shadow: 0pt 0pt 3pt #C1E1EB;
}

.chapter-subsections{
  color: black;
  margin: 5pt 0;
}

.row{
  margin: auto;
  height: 100vh;
}
