<!-- Side bar implementation -->
<div class="container">
  <div class="row">
    <!-- List Group -->
    <ul class="list-group bg-dark rounded-0 border-0 vh-100">
        <!-- Section Title -->
        <!-- Dropdown -->
        <div class="btn btn-primary rounded-pill text-center" data-toggle="collapse" href="#collapse1" role="button">Test Collapse</div>
        <div class="row">
          <div class="col">
            <div class="collapse" id="collapse1">
              <div class="btn btn-primary">testing</div>
            </div>
          </div>
        </div>
        <!-- Dropdown END -->

        <li class="list-group-item text-light bg-dark border-0 text-center">
            <small>Basics</small>
        </li>
        <li class="list-group-item text-light bg-dark border-0 text-center">
            <small>Essential Grammar</small>
        </li>
        <li class="list-group-item text-light bg-dark border-0 text-center">
            <small>Special Expressions</small>
        </li>
        <li class="list-group-item text-light bg-dark border-0 text-center">
            <small>Advanced Grammar</small>
        </li>
    </ul>
    <!-- List Group END-->
  </div>
</div>
