<!-- Side bar implementation -->
<div class="row d-flex justify-content-center overflow-auto ">
  <ul class="chapter-list-group list-group">
    <!--The Writing System-->
    <li class="chapter-header list-group-item btn"
        data-toggle="collapse" href="#writing-system" role="button">The Writing System</li>
    <li class="chapter-items list-group-item collapse" id="writing-system">
      <button class="btn-block">
        <div class="chapter-subsections small">Chapter Overview</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Hiragana</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Hiragana Practice Examples</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Katakana</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Katakana Practice Examples</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Kanji</div>
      </button>
    </li>
    <!--The Writing System END-->
    <!--Basic Grammar-->
    <li class="chapter-header list-group-item btn"
        data-toggle="collapse" href="#basic-grammar" role="button">Basic Grammar</li>
    <li class="chapter-items list-group-item collapse" id="basic-grammar">
      <button class="btn-block">
        <div class="chapter-subsections small">Chapter Overview</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Expressing State-of-being</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">State-of-being Practice Exercises</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Introduction to Particles</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Particle Practice Exercises</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Adjectives</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Adjective Practice Exercises</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Verb Basics</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Verb Practice Exercises</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Negative Verbs</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Negative Verbs Practice Exercises</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Past Tense</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Past Verb Practice Exercises</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Particles Used with Verbs</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Transitive and Intransitive Verbs</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Relative Clause and Sentence Order</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Noun Related Particles</div>
      </button>
      <button class="btn-block">
        <div class="chapter-subsections small">Adverbs and Sentence-ending Particles</div>
      </button>
    </li>
    <!--Basic Grammar END-->
  </ul>
</div>
