.lesson-container{
  padding: 60pt 30pt;
  height: 100vh;
  overflow: auto;
}

.lesson-title{
  font-family: NotoSans, sans-serif;
  font-weight: bold;
  color: darkslategrey;
  text-transform: uppercase;
  letter-spacing: 1pt;
}

.lesson-body{
  font-family: NotoSans, sans-serif;
  font-size: 12pt;
}

mark{
  font-weight: bold;
  padding: 0;
  color: #5390d9;
}
