.lesson-container{
  padding: 60pt 30pt;
  height: 100vh;
  overflow: auto;
}

.lesson-title{
  font-family: NotoSans, sans-serif;
  font-weight: bold;
  color: darkslategrey;
  text-transform: uppercase;
  letter-spacing: 1pt;
}

.lesson-body{
  font-family: NotoSans, sans-serif;
  font-size: 12pt;
}

mark{
  background-color: transparent;
  font-weight: bold;
  padding: 0;
  color: #5390d9;
}

.def mark:hover{
  color: #2b559f;
}

.def{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.def .def-text{
  visibility: hidden;
  background-color: white;
  padding: 2pt 5pt;
  border: 1pt solid lightgrey;
  border-radius: 5pt;
  z-index: 1;

  font-size: 10pt;
  text-align: center;

  position: absolute;
  width: max-content;
  bottom: 110%;
}

.def:hover .def-text{
  visibility: visible;
}

.def:hover{
  transition: all 0.1s ease-in-out;
  transform: translateY(-2pt);
}

b{
  color: darkslategrey;
}
