<app-lesson>
  <div title>Verb Basics</div>
  <div body>
    <app-lesson-section>
      <div title>Role of Verbs</div>
      <div body>
        <p><b>Vocabulary</b></p>
        <ol>
          <li>食べる 【た・べる】 (ru-verb) – to eat</li>
          <li>分かる 【わ・かる】 (u-verb) – to understand</li>
          <li>見る 【み・る】 (ru-verb) – to see</li>
          <li>寝る 【ね・る】 (ru-verb) – to sleep</li>
          <li>起きる 【お・きる】 (ru-verb) – to wake; to occur</li>
          <li>考える 【かんが・える】 (ru-verb) – to think</li>
          <li>教える 【おし・える】 (ru-verb) – to teach; to inform</li>
          <li>出る 【で・る】 (ru-verb) – to come out</li>
          <li>いる (ru-verb) – to exist (animate)</li>
          <li>着る 【き・る】 (ru-verb) – to wear</li>
          <li>話す 【はな・す】 (u-verb) – to speak</li>
          <li>聞く 【き・く】 (u-verb) – to ask; to listen</li>
          <li>泳ぐ 【およ・ぐ】 (u-verb) – to swim</li>
          <li>遊ぶ 【あそ・ぶ】 (u-verb) – to play</li>
          <li>待つ 【ま・つ】 (u-verb) – to wait</li>
          <li>飲む 【の・む】 (u-verb) – to drink</li>
          <li>買う 【か・う】 (u-verb) – to buy</li>
          <li>ある (u-verb) – to exist (inanimate)</li>
          <li>死ぬ 【し・ぬ】 (u-verb) – to die</li>
          <li>する (exception) – to do</li>
          <li>来る 【く・る】 (exception) – to come</li>
          <li>お金 【お・かね】 – money</li>
          <li>私 【わたし】 – me, myself, I</li>
          <li>猫 【ねこ】 – cat</li>
        </ol>
        <p>
          We’ve now learned how to describe nouns in various ways with other nouns and adjectives. This gives us quite a bit of expressive power. However, we still cannot express actions. This is where verbs come in. Verbs, in Japanese, always come at the end of clauses. Since we have not yet learned how to create more than one clause, for now it means that any sentence with a verb must end with the verb. We will now learn the three main categories of verbs, which will allow us to define conjugation rules. Before learning about verbs, there is one important thing to keep in mind.
        </p>

        <app-note>
          <div title class="text-center">A grammatically complete sentence requires a verb <u>only</u> (including state-of-being).</div>
        </app-note>

        <p>
          Or to rephrase, unlike English, the only thing you need to make a grammatically complete sentence is a verb and nothing else! That’s why even the simplest, most basic Japanese sentence cannot be translated into English!
        </p>

        <p>
          A grammatically complete sentence:
        </p>

        <ul>
          <li>
            <div class="def">
              食べる <div class="def-text">たべる - To Eat</div>
            </div>。
          </li>
          <p>Eat. (possible translations include: I eat/she eats/they eat)</p>
        </ul>
      </div>
    </app-lesson-section>

    <app-lesson-section>
      <div title>Classifying verbs into ru-verbs and u-verbs</div>
      <div body>
        <p>
          Before we can learn any verb conjugations, we first need to learn how verbs are categorized. With the exception of only two exception verbs, all verbs fall into the category of <i>ru-verb</i> or <i>u-verb</i>.
        </p>
        <p>
          All ru-verbs end in 「る」 while u-verbs can end in a number of u-vowel sounds including 「る」. Therefore, if a verb does <b>not</b> end in 「る」, it will always be an u-verb. For verbs ending in 「る」, if the vowel sound preceding the 「る」 is an /a/, /u/ or /o/ vowel sound, it will always be an u-verb. Otherwise, if the preceding sound is an /i/ or /e/ vowel sound, it will be a ru-verb <b>in most cases</b>. A list of common exceptions are at the end of this section.
        </p>

        <p><b>Examples</b></p>
        <ol>
          <li><div class="def">
            食べる <div class="def-text">たべる - To Eat</div>
          </div> – 「べ」 is an e-vowel sound so it is a ru-verb</li>
          <li><div class="def">
            分かる <div class="def-text">わかる - To Understand</div>
          </div> – 「か」 is an a-vowel sound so it is an u-verb</li>
        </ol>

        <p>
          If you’re unsure which category a verb falls in, you can verify which kind it is with most dictionaries. There are only two exception verbs that are neither ru-verbs nor u-verbs as shown in the table below.
        </p>

        <app-table>
          <caption class="text-center">Examples of different verb types</caption>
          <thead>
            <tr>
              <th scope="col">Ru-verb</th>
              <th scope="col">U-verb</th>
              <th scope="col">Exceptions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="def">
                  見る <div class="def-text">みる - To See</div>
                </div>
              </td>
              <td>
                <div class="def">
                  話す <div class="def-text">はなす - To Speak</div>
                </div>
              </td>
              <td>
                <div class="def">
                  する <div class="def-text">する - To Do</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="def">
                  食べる <div class="def-text">たべる - To Eat</div>
                </div>
              </td>
              <td>
                <div class="def">
                  聞く <div class="def-text">きく - To Ask; To Listen</div>
                </div>
              </td>
              <td>
                <div class="def">
                  来る <div class="def-text">くる - To Come</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="def">
                  寝る <div class="def-text">ねる - To Sleep</div>
                </div>
              </td>
              <td>
                <div class="def">
                  泳ぐ <div class="def-text">およぐ - To Swim</div>
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <div class="def">
                  起きる <div class="def-text">おきる - To Wake; To Occur</div>
                </div>
              </td>
              <td>
                <div class="def">
                  遊ぶ <div class="def-text">あそぶ - To Play</div>
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <div class="def">
                  考える <div class="def-text">かんがえる - To Think</div>
                </div>
              </td>
              <td>
                <div class="def">
                  待つ <div class="def-text">まつ - To Wait</div>
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <div class="def">
                  教える <div class="def-text">おしえる - To Teach; To Inform</div>
                </div>
              </td>
              <td>
                <div class="def">
                  飲む <div class="def-text">のむ - To Drink</div>
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <div class="def">
                  出る <div class="def-text">でる - To come out</div>
                </div>
              </td>
              <td>
                <div class="def">
                  買う <div class="def-text">かう - To buy</div>
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <div class="def">
                  いる <div class="def-text">いる - To exist (animate)</div>
                </div>
              </td>
              <td>
                <div class="def">
                  ある <div class="def-text">To exist (inanimate)</div>
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>
                <div class="def">
                  着る <div class="def-text">きる - To wear</div>
                </div>
              </td>
              <td>
                <div class="def">
                  死ぬ <div class="def-text">しぬ - To die</div>
                </div>
              </td>
              <td></td>
            </tr>
          </tbody>
        </app-table>

        <p><b>Examples</b></p>
        <p>Here are some example sentences using ru-verbs, u-verbs, and exception verbs.</p>
        <ol>
          <li>
            アリスは<div class="def">
              <mark>食べる</mark> <div class="def-text">たべる - To eat</div>
            </div>。
          </li>
          <p>As for Alice, eat.</p>

          <li>
            ジムが<div class="def">
              <mark>来る</mark><div class="def-text">くる - To come</div>
            </div>。
          </li>
          <p>Jim is the one that comes.</p>

          <li>
            ボブも<div class="def">
              <mark>する</mark> <div class="def-text">する - To do</div>
            </div>。
          </li>
          <p>Bob also do.</p>

          <li>
            <div class="def">
              お金 <div class="def-text">おかね - money</div>
            </div>が<div class="def">
              <mark>ある</mark><div class="def-text">ある - To exist (inanimate)</div>
            </div>。
          </li>
          <p>There is money. (lit: Money is the thing that exists.)</p>

          <li>
            <div class="def">
              私 <div class="def-text">わたし - me, myself, I</div>
            </div>は<div class="def">
              <mark>買う</mark><div class="def-text">かう - To buy</div>
            </div>。
          </li>
          <p>As for me, buy.</p>

          <li>
            <div class="def">
              猫 <div class="def-text">ねこ - cat</div>
            </div>は<div class="def">
              <mark>いる</mark><div class="def-text">いる - To exist (animate)</div>
            </div>。
          </li>
          <p>There is cat. (lit: As for cat, it exists.)</p>
        </ol>
      </div>
    </app-lesson-section>

    <app-lesson-section>
      <div title>Appendix: iru/eru u-verbs</div>
      <div body>
        <p><b>Vocabulary</b></p>
        <ol>
          <li>要る 【い・る】 (u-verb) – to need</li>
          <li>帰る 【かえ・る】 (u-verb) – to go home</li>
          <li>切る 【き・る】 (u-verb) – to cut</li>
          <li>しゃべる (u-verb) – to talk</li>
          <li>知る 【し・る】 (u-verb) – to know</li>
          <li>入る 【はい・る】 (u-verb) – to enter</li>
          <li>走る 【はし・る】 (u-verb) – to run</li>
          <li>減る 【へ・る】 (u-verb) – to decrease</li>
          <li>焦る 【あせ・る】 (u-verb) – to be in a hurry</li>
          <li>限る 【かぎ・る】 (u-verb) – to limit</li>
          <li>蹴る 【け・る】 (u-verb) – to kick</li>
          <li>滑る 【すべ・る】 (u-verb) – to be slippery</li>
          <li>握る 【にぎ・る】 (u-verb) – to grasp</li>
          <li>練る 【ね・る】 (u-verb) – to knead</li>
          <li>参る 【まい・る】 (u-verb) – to go; to come</li>
          <li>交じる 【まじ・る】 (u-verb) – to mingle</li>
          <li>嘲る 【あざけ・る】 (u-verb) – to ridicule</li>
          <li>覆る 【くつがえ・る】 (u-verb) – to overturn</li>
          <li>遮る 【さえぎ・る】 (u-verb) – to interrupt</li>
          <li>罵る 【ののし・る】 (u-verb) – to abuse verbally</li>
          <li>捻る 【ひね・る】 (u-verb) – to twist</li>
          <li>翻る 【ひるが・える】 (u-verb) – to turn over; to wave</li>
          <li>滅入る 【めい・る】 (u-verb) – to feel depressed</li>
          <li>蘇る 【よみがえ・る】 (u-verb) – to be resurrected</li>
        </ol>

        <p>
          Below is a list of u-verbs with a preceding vowel sound of /i/ or /e/ (“iru” or “eru” sound endings). The list is <b>not</b> comprehensive but it does include many of the more common verbs categorized roughly into three levels.
        </p>

        <app-table>
          <caption class="text-center">iru/eru u-verbs grouped (roughly) by level</caption>
          <thead>
            <tr>
              <th scope="col">Basic</th>
              <th scope="col">Intermediate</th>
              <th scope="col">Advanced</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="def">
                  要る <div class="def-text">いる - To need</div>
                </div>
              </td>
              <td>
                <div class="def">
                  焦る <div class="def-text">あせる - To be in a hurry</div>
                </div>
              </td>
              <td>
                <div class="def">
                  嘲る <div class="def-text">あざける - To ridicule</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="def">
                  帰る <div class="def-text">かえる - To go home</div>
                </div>
              </td>
              <td>
                <div class="def">
                  限る <div class="def-text">かぎる - To limit</div>
                </div>
              </td>
              <td>
                <div class="def">
                  覆る <div class="def-text">くつがえる - To overturn</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="def">
                  切る <div class="def-text">きる - To cut</div>
                </div>
              </td>
              <td>
                <div class="def">
                  蹴る <div class="def-text">ける - To kick</div>
                </div>
              </td>
              <td>
                <div class="def">
                  遮る <div class="def-text">さえぎる - To interrupt</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="def">
                  しゃべる <div class="def-text">しゃべる - To talk</div>
                </div>
              </td>
              <td>
                <div class="def">
                  滑る <div class="def-text">すべる - To be slippery</div>
                </div>
              </td>
              <td>
                <div class="def">
                  罵る <div class="def-text">ののしる - To abuse verbally</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="def">
                  知る <div class="def-text">しる - To know</div>
                </div>
              </td>
              <td>
                <div class="def">
                  握る <div class="def-text">にぎる - To grasp</div>
                </div>
              </td>
              <td>
                <div class="def">
                  捻る <div class="def-text">ひねる - To twist</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="def">
                  入る <div class="def-text">はいる - To enter</div>
                </div>
              </td>
              <td>
                <div class="def">
                  練る <div class="def-text">ねる - To knead</div>
                </div>
              </td>
              <td>
                <div class="def">
                  翻る <div class="def-text">ひるがえる - To turn over; To wave</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="def">
                  走る <div class="def-text">はしる - To run</div>
                </div>
              </td>
              <td>
                <div class="def">
                  参る <div class="def-text">まいる (hum.) - To go; To come</div>
                </div>
              </td>
              <td>
                <div class="def">
                  滅入る <div class="def-text">めいる - To feel depressed</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="def">
                  減る <div class="def-text">へる - To decrease</div>
                </div>
              </td>
              <td>
                <div class="def">
                  交じる <div class="def-text">まじる - To mingle</div>
                </div>
              </td>
              <td>
                <div class="def">
                  蘇る <div class="def-text">よみがえる - To be resurrected</div>
                </div>
              </td>
            </tr>
          </tbody>
        </app-table>
      </div>
    </app-lesson-section>
  </div>
</app-lesson>
