.navbar{
  background-color: #5E60CE;
  width: 100vw;
  position: fixed;
  z-index: 9;
}

.navbar-brand{
  color: white;
}

.navbar-brand-image{
  margin-right: 10pt;
  max-height: 100%;
  height: 5vh;
  width: auto;
  display: flex;
}

.navbar-brand-type{
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
