.lesson-section-container{
  margin: 25pt 0pt;
}

.section-title{
  font-family: NotoSans, sans-serif;
  color: darkslategrey;
  padding-bottom: 5pt;
  border-bottom: 1.5pt solid lightgrey;
}

.section-body{
  font-family: "Raleway", sans-serif;
}

